.bg-game-wallpaper {
    position: relative;
    height: 150px;
    width: 100%;
    object-fit: fit;
    border-radius: 10px;
    box-shadow: rgba(227, 40, 113, 0.1) 0px 4px 16px, rgba(227, 40, 113, 0.1) 0px 8px 24px, rgba(227, 40, 113, 0.1) 0px 16px 56px;
}



a.custom-button {
    position: relative;
    display: block;
    background: transparent;
    color: #e582aa;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #e582aa, #8B1E49) 1;
    padding: 5px;
    width: 100%;
    text-transform: uppercase;
    margin-top: 5px;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
}

a.custom-button:hover {
    color: #8B1E49 !important;
    background-color: #e797b7;
    border-image: linear-gradient(to left, #e582aa, #8B1E49) 1;
    transition: all 0.5s ease;
}

.game-amount-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
}

.game-item {
    position: relative;
    display: block;
    height: 50px;
    width: 150px;
    color: #FFF;
    background-color: #3E3E3E;
    border-radius: 5px;
    border: none;
}

.game-item:hover {
    border: solid 1px #44D62C;
}

.game-item.active::after {
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    content: "\2713";
    color: #3E3E3E;
    background-color: #44D62C;
    font-weight: 800;
    width: 22px;
    height: 18px;
    top: 0;
    left: 0;
    font-size: 0.9rem;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.game-item.active {
    border: solid 1px #44D62C;
    background-color: #303934;
}

/* NOTE: Game payment */
#card-game-payment .game-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 250px;
    height: 75px;
    font-size: 1.1rem;
}

.game-item .img-container {
    display: inline-block;
    position: relative;
    background-color: #FFF;
    height: 55px;
    width: 100px;
    border-radius: 5px;
    padding: 3px;
    margin-right: 10px;
    margin-left: 5px;
    border: 1px solid #44D62C;
}

.game-item .img-container>img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: contain;
}