{% extends 'base.html' %}
{% load static %}
{% load humanize %}



{% block title %}
ICareGameCredits | Transcations
{% endblock title%}


{% block additional_css %}
<style>
    table td {
        vertical-align: middle !important;
    }

    .qrcode-image-container>img {
        text-align: center;
        margin: 0 auto;
    }
</style>

{% endblock additional_css %}


{% block content_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Transactions</h3>
                    <div class="card-tools">
                        <form method="POST" id="form-search">
                            {% csrf_token %}
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="search" name="search" class="form-control float-right"
                                    placeholder="Search" autocomplete="on">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card-body table-responsive p-0" style="min-height: calc(100vh - 200px);">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Reference ID</th>
                                <th>Game / Amount</th>
                                <th>Payment Method</th>
                                <th>Transaction Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-uppercase">
                            {% include 'transactions/transaction_list.html' %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content_body %}



{% block rearscript %}
<script src="{% static 'js/micelleneous/getcookies.js' %}" defer></script>
<script src="{% static 'qrcodejs-master/qrcode.min.js' %}" defer></script>

<script src="{% static 'js/transactions.js' %}" defer></script>
{% endblock rearscript %}