{% extends 'base.html' %}
{% load static %}
{% load humanize %}



{% block title %}
ICareGameCredits | Game - {{ game.title }}
{% endblock title%}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/game_item.css' %}">
{% endblock additional_css %}


{% block nav_products %}

<li class="nav-item">
    <a href="{% url 'icgc_app:index' %}" class="nav-link text-uppercase active">Products</a>
</li>
{% endblock nav_products %}

{% block content_body %}
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <img src="{{ game.img_wallpaper.url }}" alt="Game Image" class="bg-game-wallpaper">
            <h4 class="mt-4 text-uppercase">{{ game.title }}</h4>
            <hr>
            <h4 class="mt-4 text-capitalize">Product Details</h4>
            <p class="mt-3 text-capitalize text-justify">{{ game.description }}</p>
            <a class="custom-button" href="{{ game.website }}" target="_blank">

                Go to website
                <i class="fas fa-external-link-alt ml-1"></i>
            </a>
            <a class="custom-button mt-3 mb-3" href="{% url 'icgc_app:index' %}">
                <i class="fas fa-arrow-left ml-1"></i>
                Back
            </a>

            <h4 class="mt-4 text-capitalize">How to recharge via ICareGamesCredit Webshop?</h4> 
            <ol class="pl-3">
                <li>Choose the game you want to buy points.</li>
                <li>Select the amount of point you desire.</li>
                <li>Choose the payment method you want to buy with.</li>
                <li>Enter the details of the receipient from which the game point details will be sent.</li>
                <li>Review the order summary and click checkout (If you enter the wrong email you can delete the transaction record on the transaction page on the top right corner of the page, beside you email address.)</li>
                <li>Go to transaction on the top-right page and select  transactions on the dropdown list.</li>
                <li>Navigate the action button of the latest record (top most record) and slide through the right and select the dropdown button to access the button actions.</li>
                <li>Click the status and select the <b class="text-uppercase text-success">Pay Desktop/Mobile Url</b> and you will be redirected on the payment page.</li>
                <li>Pay the amount using the payment method you selected</li>
                <li>You will be redirected to the success page</li>
                <li>To claim your PIN code and PO Details, Go again to the transactions page (You can claim it the status of the payment is succeed)</li>
                <li>On the same record on the action button select the sent mail button</li>
                <li>We will automatically send you the PIN Code and PO Details of the game credit you've purchased</li>
                <li>Go to you email and retrieve your PO game credits, Enjoy!</li>
            </ol>
            <h4 class="mt-4 text-capitalize text-warning">NOTE:</h4> 
            <ul>
                <li>You can delete the trasaction just in case you've enter an invalid email during the purchasing process and you can re-buy it again!</li>
                <li>You can view the status of the payment on the status pop up window!</li>
            </ul>

        </div>
        <div class="col-md-6">
            <div class="card" id="card-game-amount">
                <div class="card-header bg-card-header">
                    <div class="card-title ">
                        <span class="number-item-indicator">1</span>
                        Select Amount
                    </div>
                </div>
                <div class="card-body bg-card-body">
                    <div class="game-amount-container">
                        {% for a in game.fk_amount_game.all %}
                        <button class="game-item" data-url="{{a.get_absolute_url_details}}">
                            {{ a.description }}
                        </button>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="card" id="card-game-payment">
                <div class="card-header bg-card-header">
                    <div class="card-title ">
                        <span class="number-item-indicator">2</span>
                        Select Payment Method
                    </div>
                </div>
                <div class="card-body bg-card-body">
                    <div class="game-amount-container">
                        {% for pm in payment_methods %}
                        <button class="game-item"
                            data-url="{% url 'icgc_app:game_get_payment_method_details' game.slug pm.id %}">
                            <div class="img-container">
                                <img src="{{pm.img_thumbnail.url}}" alt="payment logo">
                            </div>
                            {{pm.name}}
                        </button>
                        {% endfor %}


                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-header bg-card-header">
                    <div class="card-title ">
                        <span class="number-item-indicator">3</span>
                        Billing Information
                    </div>
                </div>
                <div class="card-body bg-card-body">
                    <form method="POST" id="billing-form">
                        {% csrf_token %}
                        <h5 class="text-justify mb-4">
                            To place order and receive receipt of the purchase, please enter an email address and phone
                            number.
                        </h5>
                        <div class="form-group">
                            <label class="font-weight-light">Email Address:</label>
                            <input type="email" name="email" class="form-control" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-light">Contact #:</label>
                            <input type="text" name="contact" class="form-control" placeholder="Contact number">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" id="order-summary">
                <div class="card-body bg-card-body">
                    <h4 class="mb-4">
                        <i class="fas fa-shopping-cart"></i>
                        Order Summary
                    </h4>
                    <dl class="row" style="row-gap: 10px;">
                        <dt class="col-sm-6 font-weight-light">Product (Game Credit)</dt>
                        <dd class="col-sm-6 text-right">{{ game.title }}</dd>

                        <dt class="col-sm-6 font-weight-light">Payment Method</dt>
                        <dd class="col-sm-6 text-right" id="pm">-</dd>

                        <dt class="col-sm-6 font-weight-light">Subtotal</dt>
                        <dd class="col-sm-6 text-right" id="stotal">-</dd>

                    </dl>
                    <hr>
                    <dl class="row">
                        <dt class="col-sm-6 font-weight-light">Total</dt>
                        <dd class="col-sm-6 text-right" id="total"> - </dd>
                        <dt class="col-sm-6 font-weight-light text-gold">Point to Earn</dt>
                        <dd class="col-sm-6 text-right text-gold" id="points_earn_total"> - </dd>
                    </dl>
                    <button id="btn-checkout" class="btn btn-flat btn-block custom-button-lime mt-4">
                        <i class="fas fa-money-check mr-1"></i>
                        Checkout
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block rearscript %}
<script src=" {% static 'js/micelleneous/getcookies.js' %}" defer></script>
<script src=" {% static 'js/game_item/game_item.js' %}" defer></script>
{% endblock rearscript %}