{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %}
ICareGameCredits | Contact Us
{% endblock title%}
 
{% block nav_contact_us %}
<li class="nav-item">
    <a href="{% url 'icgc_app:contact_us' %}" class="nav-link text-uppercase active">Contact Us</a>
</li> 

{% endblock nav_contact_us %}


{% block content_body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-4">

        </div>
        <div class="col-md-8 col-8">
            
        </div>
    </div>
</div>
{% endblock content_body %}

{% block rearscript %}
{% endblock rearscript %}