{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
ICareGameCredits | Login
{% endblock title%}

{% block additional_css %}
{% endblock additional_css %}

{% block content_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body">
                    <h1>Setting New Password</h1>
                    <hr>
                    {% if validlink %}
                    <p >You are only one step a way from your new password, recover your password
                        now.
                    </p>
                    <form method="POST">
                        {% csrf_token %}

                        {% include 'partials/_form_errors.html' %}
                        <div class="input-group mb-3">
                            {{form.new_password1}}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{form.new_password2}}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-block btn-flat custom-button-danger">
                            Reset Password
                        </button>


                    </form>
                    {% else %}

                    <h3 class="text-center">
                        <b class="text-danger">
                            You token link is invalid or expired!
                        </b>
                    </h3>
                    
                    <a href="{% url 'password_reset' %}" class="btn btn-block btn-flat custom-button-danger">Request a new password reset
                        token</a>
                    {% endif %}
                    <a class="text-white text-right btn-block mt-2" href="{% url 'login' %}"><u>Back to Login</u></a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block rearscript %}
<script defer>
    $(document).ready(function () {

        document.getElementById('id_new_password1').classList.add('form-control');
        document.getElementById('id_new_password2').classList.add('form-control');
        document.getElementById('id_new_password1').classList.add('password');
        document.getElementById('id_new_password2').classList.add('password');
        document.getElementById('id_new_password1').placeholder = "New Password";
        document.getElementById('id_new_password2').placeholder = "Confirm New Password";

        let password_fields = document.getElementsByClassName("password");

        $('input').on('ifChecked', function (event) {
            let i = 0;
            for (i; i < password_fields.length; i++) {
                let passwordf = password_fields[i];
                if (passwordf.type === "password") {
                    passwordf.type = "text";
                }
            }

        });
        $('input').on('ifUnchecked', function (event) {

            let i = 0;
            for (i; i < password_fields.length; i++) {
                let passwordf = password_fields[i];
                if (passwordf.type === "text") {
                    passwordf.type = "password";
                }
            }
        });



        $('.password-reset-confirm-form').slimScroll({
            height: '100%',
            width: '560px'
        });

    });
</script>
{% endblock rearscript %}