{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
ICareGameCredits | Change Password
{% endblock title%}

{% block additional_css %}
{% endblock additional_css %}

{% block content_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1>Setting New Password</h1>
                    <hr>
                    <p class="login-box-msg">Update your password and stay secure!</p>
                    <form method="POST">
                        {% csrf_token %}
                        {% include 'partials/_form_errors.html' %}
                        <div class="input-group mb-3">
                            {{form.old_password}}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{form.new_password1}}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{form.new_password2}}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                  
                        <button type="submit" class="btn btn-block btn-flat custom-button-danger">
                            Update Password
                        </button>

                    </form>
                    <a class="text-white text-right btn-block mt-2" href="{% url 'login' %}"><u>Back to Login</u></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block rearscript %}
<script defer>
    $(document).ready(function () {

        document.getElementById('id_old_password').classList.add('form-control');
        document.getElementById('id_new_password1').classList.add('form-control');
        document.getElementById('id_new_password2').classList.add('form-control');

        document.getElementById('id_old_password').classList.add('password');
        document.getElementById('id_new_password1').classList.add('password');
        document.getElementById('id_new_password2').classList.add('password');
        document.getElementById('id_old_password').placeholder = "Old Password";
        document.getElementById('id_new_password1').placeholder = "New Password";
        document.getElementById('id_new_password2').placeholder = "Confirm New Password";
    });
</script>
{% endblock rearscript %}