{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
ICareGameCredits | New Request Password Done
{% endblock title%}

{% block additional_css %}
{% endblock additional_css %}

{% block content_body %}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">

            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-5">Password link has been sent to your Email</h1>
                    <p class="text-center">
                        We've emailed you instructions for setting your password, if an account exists with
                        the email you
                        entered.
                        You should receive them shortly.</p>
                    <p class="text-center">If you don't receive an email, please make sure you've entered the address
                        you
                        registered with, and
                        check
                        your spam folder.</p>

                    <a class="text-white text-right btn-block" href="{% url 'login' %}"><u>Back to Login</u></a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content_body %}