{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
ICareGameCredits | Password Update Done
{% endblock title%}

{% block additional_css %}
{% endblock additional_css %}
  


{% block content_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">
                        <b class="text-success">
                            Your password has been successfully reset!
                        </b>
                    </h3>
                    <a class="text-white text-right btn-block mt-2" href="{% url 'login' %}"><u>Back to Login</u></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}


{% block rearscript %}
{% endblock rearscript %}